CREATE USER jcr_user PASSWORD '{{ db_jcr_password }}';
CREATE DATABASE jackrabbit WITH OWNER = jcr_user ENCODING = 'UTF8' TABLESPACE = pg_default;
GRANT ALL PRIVILEGES ON DATABASE jackrabbit to jcr_user;