CREATE USER pentaho_user PASSWORD '{{ db_quartz_password }}';
CREATE DATABASE quartz  WITH OWNER = pentaho_user  ENCODING = 'UTF8' TABLESPACE = pg_default;
GRANT ALL ON DATABASE quartz to pentaho_user;
